  <section id="footer-page">
    <div class="footer">
      <div class="row">
        <div class="col-lg-3">
          <h5>Make Others Aware</h5>
          <a href="https://twitter.com/home" class="footer-link"><i class="fa-brands gap fa-twitter fa-2x"></i></a>
          <a href="https://www.facebook.com/" class="footer-link"><i class="fa-brands gap fa-facebook fa-2x"></i></a>
          <a href="https://www.instagram.com/03soham03/" class="footer-link"><i
              class="fa-brands gap fa-instagram fa-2x"></i></a>
        </div>
        <div class="col-lg-3">
          <h5>Take Action</h5>
          <ul class="list_style">
            <li><a href="ngo_registration">NGO</a></li>
            <li><a href="donor_registration">Donor</a></li>

          </ul>
        </div>
        <div class="col-lg-3">
          <h5>About us</h5>
          <ul class="list_style">
            <li><a href="mission">Our Mission</a></li>
            <li><a href="contact">Contact us</a></li>

          </ul>
        </div>
        <div class="col-lg-3">
          <h5 style="position : relative"> Share A Meal Foundation</h5>
          <!-- <ul class="list_style">
            <li><i class="fa-solid fa-phone">  915685****</i></li>
          </ul> -->
          <ul class="elementor-icon-list-items" style="list-style : none; padding-top: 10px; margin-left: -32px;"
            class="list_style">
            <li class="elementor-icon-list-item">
              <a href="tel:9156854149">

                <span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-phone"></i> </span>
                <span class="elementor-icon-list-text"> +91 9156854149</span>
              </a>
            </li>
            <li class="elementor-icon-list-item">
              <a href="#">

                <span class="elementor-icon-list-icon">
                  <i aria-hidden="true" class="fas fa-envelope"></i> </span>
                <span class="elementor-icon-list-text"> ShareAMeal@foundation.org</span>
              </a>
            </li>
            <!-- <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-map-marker-alt"></i> </span>
              <span class="elementor-icon-list-text">PO Box 500778 <br></span>
            </li>
            <li class="elementor-icon-list-item">
              <span class="elementor-icon-list-icon">
                <i aria-hidden="true" class="fas fa-certificate"></i> </span>
              <span class="elementor-icon-list-text">Nonprofit Tax Id: <br>#33-0492446</span>
            </li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p>Share A Meal</p>

    </div>
  </section>
