<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ZERO HUNGER</title>

<!-- {{>head}} -->
<%- include('head') -%>


    <!-- External CSS -->
  <link rel="stylesheet" href="css/home.css">

</head>

<body>

<!-- {{>navbar}} -->
<%- include('navbar') -%>

  
  <img src="images/home-background.jpg" alt="home-background img" class="home-img">

  <section id="home-page">
    <div class="">
      <div class="">

        <h2 class="info border-text">Peace Begins When the hungry are fed.</h2>
        <p class="info1 border-text" style="color : yellow;">" Food is national security. Food is economy. It is
          employment, energy, history. Food is everything."</p>
        <h3 style="padding-top : 10px;" class="border-text"> - Chef José Andrés</h3>

      </div>
      <div class="donation-button">

        <a href="ngo_registration"><button type="button" class=" btn btn-lg edit-button">NGO</button></a>
        <a href="donor_registration"><button type="button" class=" btn btn-lg edit-button">DONOR</button></a>
      </div>
      <div class="">
        <a href="#mission"><i class="fa-solid fa-arrow-down fa-3x"></i></a>
      </div>
  </section>

  <section id="mission">
    <div class="">

      <h2 class="mission-heading">Our Mission</h2>
      <hr>
      <p style="padding-bottom : 10px;">
      <p style="font-size : 20px; font-weight : 900; color : orange;">
        HELP DONATE TO THOSE WHOSE IN HUNGER!
      </p>
      <br>
      Share A Meal is a holistic initiative to provide free meals for poor people across India.
      The program supports serving people thereby offering different menus each day.
      Donate a meal to the Ahara Program,transforming Hunger into hope.
      </p>
      
      <a href="mission"><button type="button" class="btn"> Learn More </button></a>
    </div>
  </section>

{{>footer}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="index.js" charset="utf-8"></script>
</body>

</html>